<% layout('layouts/boilerplate') %>

    <h1>My Posts</h1>
    <div><a href="/myposts/new">New Post</a></div>



    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% for (let post of posts) {%>
            <div class="col">
                <div class="card ratio ratio-1x1">
                    <a href="/myposts/<%= post._id %>">
                        <img src="<%= post.imageURL %>" alt="" class="card-img-top img-fluid">
                    </a>
                </div>
            </div>
        <% } %>
    </div>