<% layout('layouts/boilerplate') %>

    <h1>My Posts</h1>
    <div><a href="/myposts/new">New Post</a></div>



    <div class="row row-cols-md-3 g-4">
        <% for (let post of posts) {%>
            <div class="col">
                <div class="card ratio ratio-1x1 text-center">
                    <a href="/myposts/<%= post._id %>">
                        <img src="<%= post.imageURL %>" alt="" class="img-fluid p-1" style="height:100%;object-fit:contain;">
                    </a>
                </div>
            </div>
        <% } %>
    </div>
