<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Posts</title>
</head>

<header>
    <a href="/myposts/new">New Post</a>
</header>

<body>
    <h1>All Posts</h1>
    <ul>
        <% for (let post of posts) {%>
            <li>
                <a href="/myposts/<%= post._id %>">
                    <img src="<%= post.imageURL %>" alt="" style="object-fit:contain;width:400px;height:400px;">
                </a>
            </li>
        <% } %>
    </ul>
    
</body>

</html>