<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>

<body>
    <form action="/myposts" method="POST">
        <div>
            <label for="publishDate">Publish Date</label>
            <input type="date" name="post[publishDate]" id="publishDate">
        </div>
        <div>
            <label for="image">Image</label>
            <input type="text" name="post[image]" id="image">
        </div>
    </form>
</body>

</html>