<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>

<body>
    <form action="/myposts" method="POST">
        <div>
            <label for="publishAt">Publish Time</label>
            <input type="datetime-local" name="post[publishAt]" id="post[publishAt]">
        </div>
        <div>
            <label for="media">Image or Video URL</label>
            <input type="text" name="post[imageURL]" id="post[imageURL]">
        </div>
        <div>
            <label for="caption">Caption</label>
            <input type="text" name="post[caption]" id="post[caption]">
        </div>
        <button>Schedule Post</button>
    </form>
    <a href="/myposts">My Posts</a>
</body>

</html>