<% layout('layouts/boilerplate') %>
        <script>

            function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
              console.log('statusChangeCallback');
              console.log(response);                   // The current login status of the person.
              if (response.status === 'connected') {   // Logged into your webpage and Facebook.
                testAPI();  
              } else {                                 // Not logged into your webpage or we are unable to tell.
                document.getElementById('status').innerHTML = 'Please log ' +
                  'into this webpage.';
              }
            }
          
          
            function checkLoginState() {               // Called when a person is finished with the Login Button.
              FB.getLoginStatus(function(response) {   // See the onlogin handler
                statusChangeCallback(response);
              });
            }
          
          
            window.fbAsyncInit = function() {
              FB.init({
                appId      : '190092463316496',
                cookie     : true,                     // Enable cookies to allow the server to access the session.
                xfbml      : true,                     // Parse social plugins on this webpage.
                version    : 'v12.0'           // Use this Graph API version for this call.
              });
          
          
              FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
                statusChangeCallback(response);        // Returns the login status.
              });
            };
           
            function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
              console.log('Welcome!  Fetching your information.... ');
              FB.api('/me', function(response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML =
                  'Thanks for logging in, ' + response.name + '!';
              });
            }
          
          </script>
          <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <h1>Instagram Posts</h1>
    <div><a href="/instagram/new">New Post</a></div>


    <div class="container">
        <div class="row">
            <% for (let post of posts) {%>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="card ratio ratio-1x1 text-center">
                        <a href="/instagram/<%= post._id %>">
                            <% if(post.media.path.slice(-3)==='mp4' ) {%>
                                <video src="<%= post.media.thumbnail %>" class="img-fluid p-1" controls type="video/mp4"
                                    alt="" style="height:100%;object-fit:contain;"">Sorry, your browser doesn't support embedded videos.</video>
                            <% } else { %> 
                                <img src=" <%=post.media.thumbnail %>" alt="" class="img-fluid p-1"
                                    style="height:100%;object-fit:contain;">
                                    <% } %>
                        </a>
                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <div class="fb-login-button" data-width="200px" data-size="medium" data-button-type="login_with" data-layout="default"
        data-auto-logout-link="true" data-use-continue-as="false" scope="public_profile,email" onlogin="checkLoginState();"></div>