<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">New Post</h1>
        <div class="col-6 offset-3">

            <form action="/instagram" method="POST" novalidate class="validate-form">
                <div class="mb-3">
                    <label for="media" class="form-label">Image or Video URL</label>
                    <input type="text" name="post[imageURL]" id="post[imageURL]" class="form-control" required>
                    <div class="valid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="caption" class="form-label">Caption</label>
                    <textarea name="post[caption]" id="post[caption]" class="form-control" rows="3" required></textarea>
                </div>
                <div class="col-4 mb-3">
                    <label for="publishAt" class="form-label">Publish Time</label>
                    <input type="datetime-local" name="post[publishAt]" id="post[publishAt]" class="form-control" required>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">Schedule Post</button>
                </div>
            </form>

            <a href="/instagram">My Posts</a>

        </div>
    </div>

